
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
{
    
}
body{
    width: 100vw;
    height: 70vh;
    background: #eee;
    flex-wrap: wrap;
    display: grid;
    place-items: center;
}
.heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
}
.heading .drop_menu select{
    outline: none;
    width: 100px;
    height: 30px;
    padding: 0 5px;
}
.blocks{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.block{
    margin: 25px 15px;
    background: #fff;
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    z-index: 1;
    box-shadow:  5px 5px 10px rgba(0,0,0,0.05),
        -5px -5px 10px rgba(0,0,0,0.05);
}
.rate{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.block img{
    transform: translateY(-20px);
    width: 50px;
    filter: drop-shadow(-3px 3px 8px rgba(0,0,0,0.3));
}
.block .flag_title{
    text-align: center;
    color: #555;
    font-size: 8px;
    transform: translateY(-15px);
}
.rate h3{
    color: #333;
    font-size: 14px;
}
.rate h3 span{
    font-size: 10px;
    color: #555;
}
.borderbt{
    width: 2px;
    height: 35px;
    border-radius: 5px;
    background: #777;
}
.buy_rate{
    text-align: left;
}
.sell_rate{
    text-align: right;
}
.block .bottom_line{
   background: red;
    width: 50px;
    height: 5px;
    border-radius: 5px;
}